body {
    background: url("https://www.incimages.com/uploaded_files/image/1920x1080/getty_519578900_316016.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.col-md-3 {
    background: #9f5eff;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

input[type="text"] {
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-size: 25px;
    color: black;
}

input[type="email"] {
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-size: 25px;
    color: black;
}

input[type="number"] {
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-size: 25px;
    color: black;
}

input[type="date"] {
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-size: 25px;
    color: black;
}