body {
    background: url("http://photos.demandstudios.com/getty/article/151/253/78292783.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.col-md-3 {
    background: forestgreen;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

input[type="text"] {
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-size: 25px;
    color: black;
}

input[type="email"] {
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-size: 25px;
    color: black;
}

input[type="number"] {
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-size: 25px;
    color: black;
}

input[type="date"] {
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-size: 25px;
    color: black;
}